<!-- <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5> -->
<img class="img-fluid max-width=100" src="/img/teacherNotebookTrans.png" alt="teacher notebook logo">
<!-- <hr class="my-4"> -->
<div class="d-grid mb-2">
    <button class="btn btn-google btn-login text-uppercase fw-bold btn btn-warning" type="submit">
       <a href="/auth/google"><i class="fab fa-google me-2"></i> Sign in with Google
        </a> 
    </button>
</div>